---
language: ruby
rvm:
- 1.9.3
- 2.0.0
- 2.1.2
- ruby-head
- jruby-19mode
- jruby-head
- rbx-2
script: rake test
matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
    - rvm: rbx-2
before_script:
  - rake compile
